body{
    background-color: #555;
    max-width: 400px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    
}
body *{
    font-size: 32px;
    font-family: sans-serif, serif;
}
#lo,
.ravno{
    width: 1em;
}
#a,#b,#result{
    width: calc((100% - 2em) / 3);
}
.calc{
    border: 1px solid darkslategray;
    border-radius: 1.5em;
    padding: 0.8em;
}
.calc .input{
    display: flex;
    width: 100%;
}
.ravno,#lo,#result{
    text-align: center;
}
#result{
    background-color: white;
}
.operations{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}
.operations>*{
    width: 23%;
    height: 2em;
}